body{

    font-family: 'Open Sans', sans-serif;  }
    
    /*offcanvas*/
    
    .canvalist{
      margin-top: 10px;
      }
    
    /*navbar*/
    
  
    .navbar{
        background-color: #47ac9b;
    }
    .logo{
      margin-left: 60px;
      text-decoration: none;
      font-size: 30px;
        }
    .menu{
      margin-top:1.2px;
      color: white;
    }
    .search-container {
      position: relative;
      display: flex;
      margin-bottom: 4px;
    }
    
    .search-container input[type="text"] {
      border: 1px solid #ccc;
      border-radius: 40px;
      outline: none;
      width: 250px;
      padding-left:15px;
      padding-right: 10px;
      padding-bottom: 5px;
      padding-top: 5px;
      margin-left: 10px;
      margin-top: 5px;
    
    }
    
    .search-container a {
      position: absolute;
      right: 10px;
      color: #888;
      cursor: pointer;
      margin-top: 12px;
    }
    /*carousel*/
    .carousel {
      position: relative;
      top: 0;
      left: 0;
      z-index: 0;
    }
    .carousel-caption{
      margin-bottom: 150px;
      margin-right: 35px;
      font-size: 35px;
      color:rgb(255, 239, 239);
      text-decoration: none;
      
    }
  
    /*main*/
  .sidebar{
    padding-top: 45px;
    height:700px;
    width: 250px;
  }
  .sideitem{
    margin-top: 30px;
    margin-left: 15px;
    background-color: #fff8f8;
    margin-right: 10px;
    border-radius: 50px;
  }

  .header{
    font-size: 30px;
    margin-right: 40px;
    margin-top: 50px;
  }
  .header:hover{
    font-size: 22px;
    background-color: #000000;
  }
  .product{
      padding-left: 20px;
  }

  .imgproduct{
    width: 60px;
    height: 50px;
    margin-right: 10px;
  }
  .icon{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
  }
  
  .main{
    margin-top: 30px;
  }
  .dashboard{
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px ;
    color: #ffffff;
    background-color: #0a768aab;
  
  }
  .tool:hover{
  background-color:  #5e686b;
  border-radius: 52px;
  }

  .title{
    font-size: 18px;
    width: 250px;
  }
  .btndelete{
    background-color: #ff0000;
    color: white;
    width: 100px;
    height: 30px;
    border:none;
  }
  .btnedit{
    background-color: #0a768a;
    color: white;
    width: 100px;
    height: 30px;
    border:none;
  }
  .btnedit:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  .btndelete:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  .head{
    font-size: 40px;
    background-color: #d5f3ff;
    border-radius: 50px;
  }
  
  table{
    margin-left: 100px;
    width: 700px;
  }
  
  .input[type="file"]::-webkit-file-upload-button::after {
    content: none;
  }
  .input[type="file"]{
    background-color: transparent;
    padding: 20px 40px;
  }
  input[type="file"] {
    color: transparent;
  } 
  input[type="file"] {
    color: #fff;  
    cursor: pointer;
    border: none;
  }

.custom-file-label::after {
  content: "Browse";
}

.custom-file-input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.custom-file-label {
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
}

.custom-file-label:focus {
  outline: none;
  box-shadow: none;
}

.custom-file-label {
  padding: 5px 100px;
  border-radius: 4px;
  margin: 10px;
}
label{
    font-size: 18px;
    color: #212425;
}
.input{
    padding: 5px 100px;
    border: 1px solid black;
}
.textarea{
    width: 600px;
    height: 100px;
}
.btnvalider{
    background-color: #000000;
    padding: 5px 55px;
    margin-left: 500px;
    color: #d5f3ff;
}