.nav-link{
    color: aliceblue;
}
.logo{
    color: aliceblue;
    margin-left: 150px;
    font-size: 50px;
}
.navbar{
    height: 150px;
    background-color: rgb(22, 26, 26);
    margin: 20px 40px;
}
.invoice{
    font-size: 20px;
    margin-right:600px;
    margin-top: 100px;
}
.name{
    font-size: 25px;
    margin-left: 550px;
    margin-top: 80px;
}
.icon{
    margin-right: 10px;
}
.facture{
    margin-top: 30px ;
    margin-left: 240px;
}
table{
    width: 200px;
}
tr{
    border-bottom: 1px solid black;

}
th{
    padding-top: 20px ;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: rgb(8, 117, 117);
}
td{ 
    padding-top: 25px;
    font-weight: bold;

}
.desc{
    padding-left: 10px;
}
.total{
    color: rgb(44, 36, 36);
}
.totaux{
    font-weight: bold ;
    color: rgb(255, 63, 63);
    font-size: 22px;
    margin-right: 400px;
}
.totauxpr {
    position: absolute;
     right: 340px;
     color: rgb(223, 68, 68);
     font-weight: bold;
}
.totauxbtn {
     color: rgb(255, 255, 255);
     background-color: rgb(34, 126, 126);
      border-radius: 50px;
      border: none;
      padding-left:60px;
}

.total2{
    position: absolute;
    right:490px;
    font-weight: bold;
}
.checkout{
    border-radius: 50px;
    padding: 6px 25px;
    border: none;
    background-color: black;
    color: aliceblue;
    margin-top: 70px ;
    margin-left: 780px;
    margin-bottom: 40px;
}
